header {
  background-image: url($bg-image-url);
  @include cover-background();
}

header>h1 a, header>h1 a:visited {
  color: $text-color;
}

header>nav ul li a, header>nav ul li a:visited {
  color: $text-color;
}
